body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.card p {
    font-size: 1em;
    color: #333;
    margin-top: 5px;
}

.card .preco {
    font-size: 1.2em;
    font-weight: bold;
    color: #27ae60;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .produtos-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .produtos-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
